#parking-lot-container {
  width: 95vw;      /* 95% of viewport width */
  height: 100vh;    /* full height */
}

#lot-svg {
  width: 100%;
  height: 100%;
  display: block;   /* removes inline spacing */
}

#lot-headers{
  display: flex;
  justify-content: space-between;
  padding: 2% 5% 2% 5%;
}

